# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# VSCode
.vscode/

# Ignore all model weights EXCEPT deployed best model
*.pt
!models/best.pt

# Other model formats
*.pth
*.onnx

# Ignore training runs
runs/
runs_chatbot/

# Ignore generated augmentations
Augmented_Images/

# Ignore large datasets
chat_bot_detection_912_ai_118_non_ai_v4.yolov12/
chatbot_images/
non-chatbot/
backgrounds/

# Ignore large videos only
*.avi
*.mov

# OS files
.DS_Store
Thumbs.db